---
layout: default
---

<div class="row">
    <header>
      <div><center><h1> Home </h1> <img src="favicon.jpg" style="width: 4%; height: 4%" align="bottom"></center></div>
      <!-- <center> -->
      <!--   <span class="big-ornament"> -->
      <!--     <svg viewBox="310 350 400 350"> -->
    </header>
</div>  
	
  <div class="section">
   <h1> Categories/Archives </h1>

  {% for category in site.categories %}
  <a href = "{{ category | first}}.html"> <h2> {{ category | first }}</h2> </a> 
  {% endfor %}
  </div>

<div class="section">
  <h4> About </h4>
    
    I'm a student interested in the areas of physics, math and AI.
  
</div>
    
  <div class="section">
    <h4> Contact </h4> daniel.garvey16[removethis]at gmail.com
  </div>


  
<div class="sidenav">
  <h1>Recent Posts</h1>
  <ul>
  <p>{% for post in site.posts limit:10 %}
    <li> <a href="{{ post.categories | first}}.html#{{ post.title }}">{{ post.title }}</a> </li>
{% endfor %}  </p>
  <ul>
</div>
