<!DOCTYPE html>
<html>
  
  {% include head.html %}
  <head>
    <!-- {% include mathjax_support %} -->
    <script type="text/javascript" async
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  extensions: [
      "MathMenu.js",
  "MathZoom.js",
  "AssistiveMML.js",
      "a11y/accessibility-menu.js"
  ],

  tex2jax: {      // AND HERE
    inlineMath: [['$', '$']],
  displayMath: [['$$', '$$']]
  },
  
  jax: ["input/TeX", "output/CommonHTML"],
  TeX: {
  extensions: [
  "AMSmath.js",
  "AMSsymbols.js",
  "noErrors.js",
  "noUndefined.js",
  ]
    }
  });
    </script>
    
	  <link rel="shortcut icon" type="image/jpg" href="{{site.url}}/favicon.jpg">
	  {% include google_analytics %}
</head>	

  <body>
    {{ content }}
    <!-- {% include footer.html %} -->
  </body>
</html>
